#nav-center-logo-menu-social {
    background: transparent;
}

#nav-center-logo-menu-social .nav-bg {
    background: linear-gradient(135deg, #111111, #000000);
    background: -webkit-linear-gradient(315deg, #111111, #000000);
}#header-img-timer .bg {
    background-image: url('../images/0.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: top right;
	opacity: 0.79;
}
#desc-full-text-btn-halfbg{
	background: #f1edea;
}

body{
  
	background: #f1edea;

}
#desc-full-text-btn-halfbg .half-container-right {
	background-image: url('../images/2.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg1 .half-container-right {
	background-image: url('../images/3.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-halfbg-text-btn {
	background: #f1edea;
}

#desc-full-halfbg-text-btn .half-container-left {
	background-image: url('../images/4.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-halfbg-text-btn1 .half-container-left {
	background-image: url('../images/5.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg--0 {
	background: #f1edea;
}
#desc-full-text-btn-halfbg{
    background: #453e39;
}

#desc-full-text-btn-halfbg--0 .half-container-right {
	background-image: url('../images/6.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center right;
	opacity: 1;
}#footer-center-social-logo {
    background: #222222;
}
#desc-full-halfbg-text-btn2 .half-container-left {
	background-image: url('../images/7.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg--01 .half-container-right {
	background-image: url('../images/8.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center right;
	opacity: 1;
}
#desc-full-halfbg-text-btn3 .half-container-left {
	background-image: url('../images/9.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-12 .half-container-right{
    background-image: url('../images/10.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-13 .half-container-left{
    background-image: url('../images/11.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-14 .half-container-right{
 background-image: url('../images/12.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;   
}
#desc-full-text-btn-halfbg-15 .half-container-left{
 background-image: url('../images/13.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;   
}
#desc-full-text-btn-halfbg-16 .half-container-right{
    background-image: url('../images/14.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-17 .half-container-left{
 background-image: url('../images/15.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;   
}
#desc-full-text-btn-halfbg-18 .half-container-right{
    background-image: url('../images/16.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-19 .half-container-left{
    background-image: url('../images/17.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-20 .half-container-right{
    background-image: url('../images/18.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-21 .half-container-left{
    background-image: url('../images/19.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-22 .half-container-right{
    background-image: url('../images/20.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-23 .half-container-left{
    background-image: url('../images/21.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-24 .half-container-right{
    background-image: url('../images/22.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-25 .half-container-left{
    background-image: url('../images/23.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-26 .half-container-right{
    background-image: url('../images/24.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-27 .half-container-left{
    background-image: url('../images/25.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-28 .half-container-right{
    background-image: url('../images/26.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-29 .half-container-left{
    background-image: url('../images/27.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-30 .half-container-right{
    background-image: url('../images/28.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-31 .half-container-left{
    background-image: url('../images/29.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-32 .half-container-right{
    background-image: url('../images/30.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-33 .half-container-left{
    background-image: url('../images/31.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-34 .half-container-right{
    background-image: url('../images/32.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-35 .half-container-left{
    background-image: url('../images/33.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-36 .half-container-right{
    background-image: url('../images/34.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-37 .half-container-left{
    background-image: url('../images/35.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-38 .half-container-right{
    background-image: url('../images/36.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-39 .half-container-left{
    background-image: url('../images/37.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-40 .half-container-right{
    background-image: url('../images/38.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-41 .half-container-left{
    background-image: url('../images/39.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-42 .half-container-right{
    background-image: url('../images/40.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-43 .half-container-left{
    background-image: url('../images/41.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-44 .half-container-right{
    background-image: url('../images/42.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-45 .half-container-left{
    background-image: url('../images/43.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-46 .half-container-right{
    background-image: url('../images/44.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-47 .half-container-left{
    background-image: url('../images/45.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-48 .half-container-right{
    background-image: url('../images/46.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-49 .half-container-left{
    background-image: url('../images/47.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}

#desc-full-text-btn-halfbg-50 .half-container-right{
    background-image: url('../images/48.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-51 .half-container-left{
    background-image: url('../images/49.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-52 .half-container-right{
    background-image: url('../images/50.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-53 .half-container-left{
    background-image: url('../images/51.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}